@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.Product-selected {
  border: 1px solid white;
  background: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  background-image: url('https://images.pexels.com/photos/1146708/pexels-photo-1146708.jpeg?cs=srgb&dl=4k-wallpaper-agriculture-android-wallpaper-1146708.jpg&fm=jpg');
}
.Product-selected button {
  background: #61dafb;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.botonStock {
  color: rgb(255, 67, 67);
}
